{% if page.page_header %}
<header class="header clear">
{% if header_circle_header %}
  <div class="header-circle header-circle1"></div>
  <div class="header-circle header-circle2"></div>
  <div class="header-circle header-circle3"></div>
  <div class="header-circle header-circle4"></div>
  <div class="header-circle header-circle5"></div>
  <div class="header-circle header-circle6"></div>
{% endif %}
<section id="page-header" class="clear">
  <div class="container">
    <div class="page-header">
      {{ page.page_header }}
    </div>
  </div><!-- /.container -->
</section>
</header>
{% endif %}
<!-- End: Header -->
