<!-- Start: Header -->
{% if preloader_option %}
  <div class="loader">
    <div class="loader-inner">
      <div class="loader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
{% endif %}
<header class="header-top">
  <div class="container header-main">
    {% if page.site_branding %}
      <div class="site-brand">
        {{ page.site_branding }}
      </div> <!--/.site-branding -->
    {% endif %}
    {% if page.primary_menu or page.search_box %}
      <div class="header-main-right">
        {% if page.primary_menu %}
          <div class="mobile-menu"><i class="icon-menu"></i></div> {# mobile-menu #}
          <div class="primary-menu-wrapper">
            <div class="menu-wrap">
              <div class="close-mobile-menu">x</div>
              {{ page.primary_menu }}
            </div> <!-- /.menu-wrap -->
          </div> <!-- /.primary-menu-wrapper -->
        {% endif %}
        {% if page.search_box %}
          {% include '@zuvipro/template-parts/search.html.twig' %}
        {% endif %}
        {% if animated_sidebar_option %}
        <div class="sliding-panel-icon">
          <i class="icon-align-left"></i>
        </div>
      {% endif %}
      </div> <!-- /.header-right -->
    {% endif %}
  </div> <!-- /.container -->
</header>
