<div class="slider-item">
  <div class="slider-text">
    <h3 class="layer1">Welcome To ZuviPro</h3>
    <h1 class="layer2">Get Started With <em>Drupal</em> & <em>ZuviPro</em></h1>
    <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="layer4"><a class="button-link" href="#">read more</a></div>
  </div><!-- /.slider-text -->
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide1.svg" alt="slider" />
  </div><!-- /.slider-img one -->
</div><!-- /.slider-item one -->
<div class="slider-item">
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide2.svg" alt="slider" />
  </div><!-- /.slider-img two -->
  <div class="slider-text">
    <h3 class="layer1">Useful and Creative Themes</h3>
    <h1 class="layer2">The Best Way To <em>Achieve</em> Success</h1>
    <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="layer4"><a class="button-link" href="#">read more</a></div>
  </div><!-- /.slider-text -->
</div> <!-- /.slider-item two -->
<div class="slider-item">
  <div class="slider-text">
    <h3 class="layer1">I am multipurpose Theme</h3>
    <h1 class="layer2">Designed By <em>Experienced</em> Group</h1>
    <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="layer4"><a class="button-link" href="#">read more</a></div>
  </div><!-- /.slider-text -->
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide3.svg" alt="slider" />
  </div><!-- /.slider-img three -->
</div> <!-- /.slider-item three -->
<div class="slider-item">
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide4.svg" alt="slider" />
  </div><!-- /.slider-img four -->
  <div class="slider-text">
    <h3 class="layer1">We are Drupal Expert</h3>
    <h1 class="layer2">Best <em>Solution</em> Provided At Best Price</h1>
    <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="layer4"><a class="button-link" href="#">read more</a></div>
  </div><!-- /.slider-text -->
</div> <!-- /.slider-item four -->
