<div class="slider-item">
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide1.jpg" alt="slider" />
  </div><!-- /.slider-img one -->
  <div class="slider-text-container">
    <div class="container">
      <div class="slider-text">
        <h3 class="layer1">Welcome To TaraPro</h3>
        <h1 class="layer2">Get Started With Drupal & TaraPro</h1>
        <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="button layer4" href="#">read more</a>
      </div><!-- /.slider-text -->         
    </div><!-- /.container -->
  </div><!-- /.slider-text-container -->
</div><!-- /.slider-item one -->
<div class="slider-item">
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide2.jpg" alt="slider" />
  </div><!-- /.slider-img two -->
  <div class="slider-text-container">
    <div class="container">
      <div class="slider-text">
        <h3 class="layer1">Useful and Creative Themes</h3>
        <h1 class="layer2">The Best Way To Achieve Success</h1>
        <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="button layer4" href="#">read more</a>
      </div><!-- /.slider-text -->
    </div><!-- /.container -->
  </div> <!-- /.slider-text-container -->
</div> <!-- /.slider-item two -->
<div class="slider-item">
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide3.jpg" alt="slider" />
  </div><!-- /.slider-img three -->
  <div class="slider-text-container">
    <div class="container">
      <div class="slider-text">
        <h3 class="layer1">I am multipurpose Theme</h3>
        <h1 class="layer2">Designed By Experienced Group</h1>
        <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="button layer4" href="#">read more</a>
      </div><!-- /.slider-text -->
    </div><!-- /.container -->
  </div> <!-- /.slider-text-container -->
</div> <!-- /.slider-item three -->
<div class="slider-item">
  <div class="slider-img">
    <img src="{{ directory }}/images/demo/slider/slide4.jpg" alt="slider" />
  </div><!-- /.slider-img four -->
  <div class="slider-text-container">
    <div class="container">
      <div class="slider-text">
        <h3 class="layer1">We are Drupal Expert</h3>
        <h1 class="layer2">Best Solution Provided At Best Price</h1>
        <p class="layer3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="button layer4" href="#">read more</a>
      </div><!-- /.slider-text -->
    </div><!-- /.container -->
  </div> <!-- /.slider-text-container -->
</div> <!-- /.slider-item four -->
