/* Clearing
--------------------------------------*/
.clear::before,
.clear::after,
.row::before,
.row::after,
.full::before,
.full::after,
.section::before,
.section::after {
  content: '';
  display: table;
  clear: both;
}
.empty::before,
.empty50::before,
.empty70::before,
.empty100::before,
.empty150::before,
.empty::after,
.empty50::after,
.empty70::after,
.empty100::after,
.empty150::after {
  content: '';
  display: table;
  clear: both;
}
