body {
  background-color: #fdfdfd;
  color: #333;
}

a,
ul.menu a.is-active {
  color: rgb(52, 114, 180);
  text-decoration: none;
}

.region-header {
  background-color: #404040;
  background-image: linear-gradient(to bottom, black, transparent);
  padding: 8px 0 10px;
}

.block-system-branding-block {
  width: 160px;
}

.site-logo img {
  width: 160px;
  padding-top: 0.5em;
}

.site-name {
  text-align: center;
  margin-top: -12px;
  padding-bottom: 4px;
}

.site-name a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 10px;
}

#block-zds-theme-main-menu ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
}

#block-zds-theme-main-menu ul.menu li a {
  color: #fafdfe;
}

#block-zds-theme-main-menu ul.menu li a:hover {
  opacity: 67%;
}

body.page-node-type-person .block-page-title-block {
  display: none;
}

h1 {
  text-align: center;
  margin: 10px 0 16px;
  font-family: abril-titling, serif;
}

h2.inline-title {
  margin: 0 auto;
  text-align: center;
}

main {
  padding-bottom: 196px;
}

.view-id-logos li {
  list-style-type: none;
  display: inline-block;
}

.view-id-logos li img {
  min-width: 80px;
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

.region-footer {
  background-color: #eaedee;
  background-image: linear-gradient(to bottom, transparent, #fafdfe);
}

#block-zds-theme-address {
  float: right;
  position: relative;
  margin: 0 12px;
  padding: 12px;
  border: solid 2px orange;
  border-radius: 12px;
  background-color: rgba(192, 128, 0, 0.35);
}

#block-zds-theme-address:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  border: 3px solid #eaedee;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  border-top-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

#block-zds-theme-address .text-formatted {
  position: relative;
  z-index: 99;
}

#block-zds-theme-footer-about-block {
  text-align: center;
}

.region-footer p {
  margin: 2px;
  font-size: 12px;
}
