.site-footer {
  background-color: var(--light);
  padding-top: 2rem;
  overflow: hidden;
  position: relative;
  color: var(--less-light);
  font-weight: 300;
  font-size: 91%;
  p {
    margin-bottom: 0.4rem;
    line-height: normal;
    strong {
      color: var(--light);
    }
  }
}
.site-footer::before {
  position: absolute;
  content: '';
  background-color: var(--border);
  width: 100%;
  height: 100%;
  top: 2rem;
}
.footer .block-title {
  font-weight: 300;
  font-size: 1.4rem;
}
.footer-bottom-container {
  border-top: 1px solid var(--primary);
}

.footer a {
  color: var(--light);
  border-bottom: 1px dashed var(--primary);
  &:hover {
    color: var(--secondary);
  }
}

.footer-top {
  text-align: center;
}
