@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  /* Header */
  .header h1 {
    -webkit-text-stroke-width: 2px;
  }
  .menu-wrap .menu a {
    color: var(--light);
  }
  .menu .expanded:hover {
    background-color: var(--primary);
  }
  .page-header {
    padding: 2rem 0 6rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  }
  .page-header::before {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
  }
  /* Footer */
  .site-footer {
    padding-top: 6rem;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  }
  .site-footer::before {
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
  }
  .footer-four {
    text-align: right;
  }
}
@media (min-width: 992px) {
  .menu-wrap {
    background-color: transparent;
  }
}
