.taxo-tree-wrapper {
  padding: 2px;
  margin: 3px;
  width: calc(100% - 6px);
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.taxo-tree-item {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 2px;
  border: 1px solid lightgrey;
  border-radius: 0 0 10px 10px;
}

.taxo-tree-item.collapsed {
  max-height: 36px;
  overflow-y: hidden;
}

.taxo-tree-item-title {
  background-color: lightgrey;
  padding: 3px 3px 3px 34px;
  text-align: center;
  width: 100%;
  display: inline-block;
  border-bottom: 2px solid #080808;
  box-sizing: border-box;
  position: relative;
}

.taxo-tree-item-title input.button {
  position: absolute;
  left: 3px;
  font-size: 75%;
}

.taxo-tree-item-tag-wrapper {
  background-color: aliceblue;
}

.taxo-tree-item-tag {
  background-color: lightblue;
  padding: 4px 8px;
  display: inline-block;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 5px;
}

.taxo-tree-item-tag.tag-quick-links {
  display: none;
}

.taxo-tree-item-node {
  margin: 2px 2px 6px;
  max-width: 49%;
}

.taxo-tree-item-node.tag-quick-links-node {
  display: inline-block;
  padding: 2px 8px 4px;
  border-radius: 0 0 7px 7px;
  background-color: #dcf1f5;
  margin-top: 0;
  border: 1px solid lightgrey;
}

.taxo-tree-item-node-edit-link {
  margin-left: 10px;
  font-size: 75%;
}

.taxo-tree-item .description p,
.taxo-tree-item-node .description p {
  margin: 2px 2px 2px 10px;
  font-size: 85%;
}
