 :root {
  --body-bg: #0d0f16;
  --header-bg: #020312;
  --content-bg: #181a25;
  --text-color: #a1a1a1;
  --border-color: #282d38;
  --pink: #f26c4f;
  --violet: #f4399e;
  --circle-color: #510a31;
  --pink-gradient: linear-gradient(to right, #f26c4f, #f4399e);
}
