/* Page Loader
-------------------------------------------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: var(--body-bg);
  z-index: 9999;
  overflow: hidden;
}
.loader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader-icon {
  width: 72px;
  height: 72px;
  display: block;
  padding: 0px;
}
.loader-icon span {
  background: var(--pink);
  position: absolute;
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  -webkit-animation: preloader 1.8s linear infinite;
  animation: preloader 1.8s linear infinite;
}
.loader-icon span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/* Custom Cursor
-------------------------------------------- */
#cursor {
  display: none;
}
@keyframes cursorclick {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(2);
  } 100% {
    transform: scale(1);
  }
}
/* Header
-------------------------------------------- */
.header-top {
  padding: 1em 0;
  position: relative;
  top: 0;
  background: var(--header-bg);
  z-index: 15;
}

/* Animated Sidebar */
.sliding-panel-icon {
  margin-left: 6px;
}
.sliding-sidebar {
  position: relative;
  visibility: hidden;
  z-index: 110;
  transition: visibility 0s 0.4s;
}
.sliding-sidebar.animated-panel-is-visible {
  visibility: visible;
  transition: visibility 0s 0s;
}
.sliding-sidebar-container {
  position: fixed;
  top: 0;
  width: 90%;
  max-width: 360px;
  height: 100%;
  padding: 16px 20px;
  background: var(--content-bg);
  color: var(--text-color);
  overflow-x: auto;
  transition: transform 0.4s 0s;
  box-shadow: -2px 0 4px #000000;
}
.animated-panel-from-right .sliding-sidebar-container {
  right: 0;
  transform: translate(100%, 0);
}
.animated-panel-from-left .sliding-sidebar-container {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}
.animated-panel-is-visible .sliding-sidebar-container {
  transition-delay: 0s;
  transform: translate(0, 0);
}
.close-animated-sidebar {
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 4px;
  line-height: unset;
  z-index: 120;
}
.sliding-sidebar-container .block {
  padding: 0 0 1.6em 0;
}

/* Social Icons / Node Sharing
-------------------------------------------- */
.share-node {
  position: relative;
  margin: 1em 0;
}
.share-node-title i {
  color: var(--pink);
}
ul.icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.icons li {
  display: inline-block;
  margin-right: 0.6em;
}
.icons li:last-child {
  margin-right: 0;
}
.icons li a {
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 42px;
  text-align: center;
  border: 2px solid var(--border-color);
  transition: all 0.3s ease-in-out;
}
.icons li a:hover {
  border: 2px solid #ffffff;
}

/* Animated Page content
-------------------------------------------- */
.animate-fadeIn,
.animate-fadeInUp,
.animate-fadeInLeft,
.animate-fadeInRight,
.animate-fadeInDown,
.animate-zoomIn {
  opacity: 1;
}

/* Pricing Table
-------------------------------------------- */
.plan-name {
  padding: 1em 0 2em 0;
  background: var(--body-bg);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}
ul.plan-details {
  margin: 0;
  padding: 0;
  list-style: none;
}
.plan-details li {
  border-bottom: 1px solid var(--border-color);
}
.plan-details li:last-child {
  border-bottom: none;
}

/* Elements
-------------------------------------------- */
/* Elements -> Call To Action */
.call-to-action {
  position: relative;
  background: var(--content-bg);
  margin: 1em 0;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Elements -> Divider */
.line,
.line-double,
.line-dash,
.line-dot {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100%;
  margin: 1.4em 0;
  clear: both;
  height: 8px;
}
.line {
  border-top: 2px solid var(--border-color);
}
.line-double {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.line-dash {
  border-top: 1px dashed var(--border-color);
  border-bottom: 1px dashed var(--border-color);
}
.line-dot {
  border-top: 2px dotted var(--border-color);
  border-bottom: 2px dotted var(--border-color);
}

/* Elements -> Icon box */
.icon-box,
.icon-box2 {
  position: relative;
  background: var(--content-bg);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}
.icon-box i,
.icon-box2 i {
  font-size: 3em;
  color: var(--pink);
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.icon-box:hover i,
.icon-box2:hover i {
  color: #ffffff;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.icon-box {
  text-align: center;
  padding: 2em 1em;
}
.icon-box i {
  display: block;
  margin-bottom: 30px;
}
.icon-box2 {
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon-box2 i {
  padding-right: 20px;
}

/* Elements -> Accordion / Toggle */
.accordion, .toggle {
  position: relative;
}
.accordion-title,
.toggle-title {
  display: block;
  background: var(--content-bg);
  margin: 0;
  padding: 0.6em 0;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}
.accordion-title::before,
.toggle-title::before {
  content: '+';
  display: inline-block;
  color: var(--pink);
  width: 34px;
  text-align: center;
}
.accordion-content,
.toggle-content {
  padding: 1em 0;
  margin:0;
}
.active-toggle,
.active-accordion {
  background: var(--pink);
}
.active-toggle::before,
.active-accordion::before {
  content: '-';
  color: #ffffff;
}

/* Elements -> tabs */
ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.tabs li {
  display: inline-block;
}
ul.tabs li a {
  padding: 6px 20px;
}
.active-tab a,
ul.tabs li a:hover {
  color: #ffffff;
}
.active-tab a {
  border-top: 2px solid var(--pink);
}
.tab-content {
  display: none;
  margin-top: 2px;
  padding: 1em;
  border: 2px solid var(--border-color);
}
.active-tab-content {
  display: block;
}
/* Elements -> Banner */
.banner {
  position: relative;
  width: 100%;
  margin-bottom: 1.6em;
  color: #000000;
}
.banner img {
  position: relative;
}
.banner .banner-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1em;
}

/* Cookies Popup message
-------------------------------------------- */
.cookiealert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 150;
  background: var(--header-bg);
  color: #fff;
  padding: 10px 0;
  margin: 0 !important;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
}
.cookiealert p {
  margin: 0;
}
.cookiealert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

/* Custom Shortcodes
-------------------------------------------- */
.section {
  width: 100%;
  clear: both;
  padding: 2em 0;
}
.title {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}
.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 1px;
  background: #f26c4f;
  background: var(--pink-gradient);
  margin: 0 auto;
  left: 50%;
}
.title::before {
  width: 40px;
  bottom: 0;
  transform: translateX(-20px);
}
.title::after {
  bottom: -4px;
  width: 60px;
  transform: translateX(-30px);
}
.box {
  position: relative;
  background: var(--content-bg);
  padding: 1em;
}

/* Elements -> popup */
.popup-content {
  display: none;
}
.popup-content.active {
  display: block;
  background: var(--content-bg);
  z-index: 99;
  padding: 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px #000000;
}


/* Clients */
/* Elements -> Clients */
.clients.owl-carousel .owl-stage {
  display: flex;
}
.clients.owl-carousel .owl-item {
  display: flex;
  align-items: center;
}

/* Progress Bar
-----------------------------------------*/
.progress-bar {
  position: relative;
  display: block;
  color: #ffffff;
  background: var(--pink);
  padding: 0 10px;
  margin-bottom: 1em;
}

/* Footer
----------------------------------*/
.footer-wave svg {
  display: block;
  fill: #020312;
	fill: var(--header-bg);
}